In [ ]:
import streamlit as st
import pandas as pd
from datetime import datetime, timedelta,time
from streamlit_gsheets import GSheetsConnection
from auxiliar.auxiliar import *
from auxiliar.omie_aux import *

# testar subir OS

In [ ]:
base_compilada = pd.read_csv("testes\dados_testes.csv")
print(f"Tamanho da base: {base_compilada.shape}")

In [ ]:

clientes_subidos = criar_clientes_selecionados(base_compilada)
clientes_subidos = clientes_subidos.to_dict(orient='records')
st.write(f"{len(clientes_subidos)} clientes novos criados")
subir_dados_mongodb("log_clientes",clientes_subidos)

# st.write("Criando Ordens de Serviço...")
# os_subidos = criar_ordens_de_servico_da_planilha(base_compilada)
# os_subidos_dic = os_subidos.to_dict(orient='records')
# subir_dados_mongodb("log_os",os_subidos_dic)

# erros_mask = os_subidos["resposta"].astype(str).str.contains("ERROR", case=False, na=False)
# ids_para_subir = os_subidos.loc[~erros_mask,"os_id"]
# base_para_subir = dados_crm_df.loc[dados_crm_df['os_id'].isin(ids_para_subir)]
# base_para_subir = base_para_subir.drop_duplicates()
# base_para_subir_dic = base_para_subir.to_dict(orient='records')
# subir_dados_mongodb("os_processados",base_para_subir_dic)

In [ ]:
linha_teste = base_compilada.iloc[0]
subir_linha_teste(linha_teste)

In [4]:
codigo_integracao = pegar_dados_mongodb("id_clientes")
codigo_integracao

             unidade codigo_cliente_integracao
0     BELO HORIZONTE      _CLIENTE_CONSUMIDOR_
1     BELO HORIZONTE                    595984
2     BELO HORIZONTE                    710153
3     BELO HORIZONTE                    673015
4     BELO HORIZONTE                    658380
...              ...                       ...
4302      BackOffice                    522778
4303      BackOffice                    948037
4304      BackOffice                    892537
4305      BackOffice                    574353
4306      BackOffice                    817529

[4307 rows x 2 columns]

In [ ]:
for index,row in base_compilada.iterrows():
    print("Iterando na linha: ",index) ## Print para debug!!!!!!!!!!

    dados_cliente = row["dados_cliente"]
    unidade = row["store_name"]
    unidade = "BackOffice" ## Para teste!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    id_do_cliente = row["customer_id"]

    if not codigo_integracao.empty:
        if str(id_do_cliente) in codigo_integracao.loc[codigo_integracao["unidade"] == unidade,"codigo_cliente_integracao"].values:
            print(f"Cliente {id_do_cliente} já existe na base de dados")
        
        elif (len(codigo_integracao.loc[codigo_integracao["codigo_cliente_integracao"]] == id_do_cliente) > 0):
            print(f"Cliente {id_do_cliente} já existe na base de dados, mas a unidade é diferente")
        else:
            print(f"Cliente {id_do_cliente} não existe na base de dados")

Iterando na linha:  0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().